@import "../../../styles/mixines.scss";
@import "../../../styles/responsive.scss";

.field {
  @include smallHeaderFontSize();
  padding: 4px 12px 4px 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-width: 1px;
  width: 100%;
}

.button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-width: 1px;
}

.cityInput {
  display: flex;
}

@include tablet {
  .field {
    width: unset;
  }
}
