@import "../../../styles/mixines.scss";

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include card();
}

.illustration {
  width: 64px;
  flex-shrink: 0;
}

.summary {
  @include standardHeaderFontSize();
  text-transform: capitalize;
}

.temperature {
  margin-top: 8px;
}

.location {
  margin-top: 4px;
  @include subtitleFontSize();
}
