// Collors
$col-shadow: #d8d8d8;
$col-card-background: #fff;

// Breakpoints
$small-mobile-br: 6px;
$small-desktop-br: 10px;

// Opacity
$light-opacity: 0.8;

// font-sizes
$temperature-size: 3rem;
$temperature-sign-size: 1rem;

$standard-header-size: 1.6rem;
$standard-header-line: 1.8rem;

$small-header-size: 1.4rem;
$small-header-line: 1.6rem;

$subtitle-size: 1rem;
$subtitle-line: 1.2rem;
