@import "../../../styles/responsive.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/mixines.scss";

.currentWeather {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
}

.title {
  @include standardHeader();

  &_container {
    display: flex;
    grid-column: 1 / 5;
  }
}

.description {
  @include standardHeader();

  margin-left: 8px;
  text-transform: capitalize;
  opacity: $light-opacity;
}

.temperature {
  &_label {
    opacity: $light-opacity;
  }
}

@include tablet() {
  .description {
    margin-top: 8px;
    margin-left: 0px;
  }

  .currentWeather {
    grid-template-columns: 1fr repeat(3, 80px);
  }

  .title {
    &_container {
      display: block;
      grid-column: 1;
    }
  }
}
