@import "../../../styles/variables.scss";

.temperature {
  display: flex;

  &_value {
    font-size: $temperature-size;
  }

  &_postfix {
    font-size: $temperature-sign-size;
  }

  &_postfix {
    margin-top: 4px;
  }
}
